
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-size: 10px;
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    background-color: #F2F3F4;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

h1,.h1 {
    font-size: 25px;
    line-height: 55px;
    letter-spacing: 6px;
    font-weight: 500;
    color: #F4F6F7;
}

h2,.h2 {
    font-size: 14px;
    line-height: 36px;
    font-family: 'PT Serif';   
}

h3,.h3 {
    font-size: 18px;
    line-height: 27px;
    font-family: 'PT Serif';
}

h4,.h4 {
    font-size: 14px;
    line-height: 19px;
    font-family: 'PT Serif';
}

h5,.h5 {
    font-size: 11px;
    letter-spacing: 2px;
    font-weight: 700;
}

h6,.h6 {
    font-size: 10px;
    letter-spacing: 2px;
    font-weight: 700;
}

.font-12{
    font-size: 12px;
    font-family: 'PT Serif';
}

img {
    max-width: 100%;
    height: auto;
    border: none;
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: #000;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
    max-width: 1400px;
}

.clearfix {
    display: block;
}

.clearfix:before,.clearfix:after {
    content: '';
    width: 100%;
    display: table;
}

.tc{
    text-align: center;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.w10{
    width: 7%;
}
.w15 {
    width: 15%;
    margin: 1% auto 0;
    text-align: center; 
}
.w20 {
    width: 20%;
    text-align: center; 
}
.w25 {
    width: 25%;
}
.w30 {
    width: 30%;
}
.w33 {
    width: 33.33%;
}
.w40 {
    width: 40%;
}
.w45{
    width: 45%;
}
.w50 {
    width: 50%;
}
.w55 {
    width: 55%;
}
.w60 {
    width: 60%;
}
.w66 {
    width: 66.66%;
}
.w70 {
    width: 70%;
}
.w75 {
    width: 75%;
}
.w80 {
    width: 80%;
}
.w85 {
    width: 85%;
}
.w90 {
    width: 90%;
}
.w100 {
    width: 100%;
}

.title {
    background-color: #566573;
}

.list-folder{
    width:10%;
}

.va{
    vertical-align: center;
}

.left-main{
    /* margin-top: 95px ; */
    height: 85vh;
    /* border: 4px solid lightblue; */
    /* border-radius: 10px; */
    /* overflow: scroll; */
}

.left{
    height: 80vh;
    padding: 3%;
    overflow-y: scroll;
    overflow-x: hidden;
    border-right: 1px solid #2C3E50;
}

.sub{
    margin-left: 40px;
    /* display:none; */
}

.disp{
    display:block;
}

.functions img {
    width: 25%;
    /* margin: 10% 0 0; */
}

.functions{
    margin: 0 auto;
    text-align: center;
    padding: 10px 0;
}

span{
    font-size: 14px;
}

.hiddenFolder{
    display:none;
}

.main_folder img{
    margin:10% 10% 0;
    width:50%;
}

.hidden{
    display: none;
}

.clickable,.functions > div >img,.main_folder>img{
    cursor: pointer;
}

.blue_active{
    background-color: rgba(221, 255, 244, 0.534);
}

.custom-menu,.custom-menu-2 {
    display: none;
    z-index: 1000;
    position: absolute;
    overflow: hidden;
    border: 1px solid #CCC;
    white-space: nowrap;
    font-family: sans-serif;
    background: #FFF;
    color: #333;
    border-radius: 5px;
    padding: 0;
}

/* Each of the items in the list */
.custom-menu li,.custom-menu-2 li {
    padding: 8px 12px;
    cursor: pointer;
    list-style-type: none;
    transition: all .3s ease;
    user-select: none;
}

.custom-menu li:hover ,.custom-menu-2 li:hover {
    background-color: #DEF;
}

.unselected{
    opacity: 0.5;
}

.image.w40{
    width: 15%;
    height: 35px;
}
.rightimage{
    width: 100%;
    height: 64px;
}

.folder.active > .acc-title > .clickable .image.w40:first-child , .sub.active > .acc-title > .clickable .image.w40:first-child{
    background-image: url(../assets/images/openfolder.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}
.folder .acc-title .clickable .image.w40,.sub .acc-title .clickable .image.w40{
    background-image: url(../assets/images/foldr1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

.folders .fdir .main_folder .rightimage{
    background-image: url(../assets/images/foldr1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

span{
    display: inline-block;
    margin: 5% 0 0;
}

.empty{
    height: 30vh;
}

hr{
    margin: 0;

    border-top: 1px solid #2C3E50;
}

#submit-all{
    font-size: 11px;
    padding: 13px 11px;
    text-transform: uppercase;
    border-radius: 2px;
    outline: none;
    color: #fff;
    background-color: #566573;
    border-color: #566573;
    width: 20%;
    float: right;
    margin-top: 15px;
}

.folders.w15.fl {
    height: 120px;
}

.clickable h2{
    height:40px;
    overflow: hidden;
}
.form_hidden{
    display:none;
}
button.dz-button {
    font-size: 15px!important;
    padding: 30px!important;
}
.modal-lg {
    width: 760px;
}